<app-navbar></app-navbar>
<app-loader *ngIf="!isLoaded"></app-loader>
<div class="user-info-container" *ngIf="user$ | async as user">
  <div class="user-info-card">
    <header class="user-info-card-header">
      <img class="user-img" [src]="user.avatar_url" alt="User">
      <div class="user-basic-info">
        <h1>{{username}}</h1>
        <p>{{user.bio}}</p>
      </div>
    </header>
    <div class="user-activities-container">
      <div class="user-activity">
        <p *ngIf="user.repos.length === 0">Repos not found</p>
        <p class="count">{{user.repos.length}}</p>
        <p *ngIf="user.repos.length > 0" class="activity">Repos</p>
      </div>
      <div class="user-activity">
        <ng-container *ngIf="followers$ |  async as followers">
          <p class="count">
            {{followers.length}}
          </p>
        </ng-container>
        <p class="activity">followers</p>
      </div>
    </div>
    <div class="user-organization-container">
      <ng-container *ngIf="organizations$ | async as organization">
        <p class="repos-info" *ngIf="organization.length === 0">Organizations not found</p>
      </ng-container>
      <div class="user-organization-item">
        <ng-container *ngFor="let organization of organizations$ | async">
          <img class="organization-avatar" [src]="organization.avatar_url" alt="">
        </ng-container>
      </div>
    </div>
    <div class="user-repos-container" *ngIf="user.repos.length > 0">
      <ul class="user-repo-list">
        <ng-container *ngFor="let repo of user.repos.slice(0,3)">
          <li class=user-repo-list-item>
            <a [href]="repo.git_url | safeUrl" target="_blank"> {{repo.name}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
<div class="followers-container">
  <app-card-view [users$]="followers$"></app-card-view>
</div>
