@import "src/styles/main";

:host {
  min-height: calc(100% - 70px);
  padding: .75rem;
  @media (max-width: 1400px) {
    width: 1320px;
  }
  @media (max-width: 1200px) {
    width: 1140px;
  }
  @media (max-width: 992px) {
    width: 950px;
  }
  @media (max-width: 768px) {
    width: 720px;
  }
  @media (max-width: 575px) {
    width: 540px;
  }

  .cards {
    height: 100%;
    gap: 2rem;
    margin-top: 5rem;
    @include flex(center, flex-start);
    flex-wrap: wrap;
    width: 100%;

    .card {
      border: 1px solid #c8c4c4;
      border-radius: .25rem;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 20px;
      width: 28%;
      min-height: 12rem;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      transition: box-shadow .35s linear;

      &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

      }

      .profile-img {
        height: 80px;
        width: 80px;
        //background-image: url('https://images.unsplash.com/photo-1504933350103-e840ede978d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -25px;
        left: -25px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      }

      .card-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.7rem;

        a {
          color: $secondaryColor;
          text-decoration: underline;
      text-align: center;
          h4 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: .75rem;
          }
        }

      }

      .card-content {
        flex: 1 0 auto;

        .description {
          margin-bottom: 20px;
        }

        .not-found {
          font-size: 1.5rem;
          font-weight: bold;
        }

        .user-repo-list {
          .user-repo-list-item {
            margin: 0.5rem 0;

            a {
              color: $secondaryColor;
              text-decoration: underline;
            }
          }
        }
      }

      .card-footer {
        .user-button {
          @include button(
              white,
              $secondaryColor,
              1px solid $secondaryColor
          )
        }
      }


      @media (max-width: 1400px) {
        width: 28%;
      }
      @media (max-width: 1200px) {
        width: 28%;

      }
      @media (max-width: 992px) {
        width: 40%;
      }
      @media (max-width: 768px) {
        width: 80%;
        .profile-img {
          left: 0;
        }
      }
      @media (max-width: 575px) {
        width: 100%;
        .profile-img {
          left: 0;
        }
      }
    }
  }
}
